body{
    background-color: rgb(109, 118, 216);
}
h1{
    color: azure;
    background-color: orange;
}
.primeiro{
    color: rgb(224, 198, 198);
    background-color: rgba(224, 70, 70, 0.846);
}
.segundo{
    color: black;
    background-color: aliceblue;
}